.imagescroller_container {
    position: relative;
}

.imagescroller {
    position: relative;
    overflow: hidden;
}
.imagescroller_item {
    position: relative;
    float: left;
}
.imagescroller a img {
    border: 0;
}

/*
 * "media" buttons
 */

.imagescroller_controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagescroller_controls img {
    cursor: pointer;
    visibility: hidden;
    width: 48px;
    height: 48px;
}
.imagescroller_play {
    display: none;
}

/*
 * Info box
 */

.imagescroller_info {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 70px;
    width: 30%;
    background: #333;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 0.5em;
}
.imagescroller_info h6 {
    margin: 0;
}
.imagescroller_info h6 a {
    color: #ff0;
    font-weight: bold;
}
.imagescroller_info p {
    color: #fff;
}
