.imagescroller_container {
    position: relative;
}

.imagescroller {
    position: relative;
    overflow: hidden;
}
.imagescroller_item {
    position: relative;
    float: left;
}
.imagescroller a img {
    border: 0;
}

/*
 * "media" buttons
 */

.imagescroller_prev {
    position: absolute;
    left: 10px;
    cursor: pointer;
    display: none;
}
.imagescroller_play {
    position: absolute;
    cursor: pointer;
    display: none;
    visibility: hidden;
}
.imagescroller_stop {
    position: absolute;
    cursor: pointer;
    display: none;
}
.imagescroller_next {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: none;
}

/*
 * Info box
 */

.imagescroller_info {
    position: absolute;
    bottom: 50px;
    left: 70px;
    width: 30%;
    background: #333;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 0.5em;
}
.imagescroller_info h6 {
    margin: 0;
}
.imagescroller_info h6 a {
    color: #ff0;
    font-weight: bold;
}
.imagescroller_info p {
    color: #fff;
}

/*
 * Back-end
 */

.imagescoller_logo {
    float: left;
    margin: 0 16px 0 0;
    width: 128px;
    height: 128px;
}
.imagescroller_license {
    text-align: justify;
}
